
<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="m">
        <div class="card a">
            <a href="/produto1">
                <img src="https://wepink.vtexassets.com/arquivos/ids/156226-800-auto?v=638017234609830000&width=800&height=auto&aspect=true"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Body Splash Infinity</h5>
                    <p class="card-text">99,00 </br>ou 8x R$ 12,37 </p>
                </div>
            </a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>